@import url('https://fonts.googleapis.com/css?family=Dosis');
/* BÃSICO */
	*  {
    margin:0;
    padding:0;
	}
	body {
		background: #fff;
	}

	body {
		color: #444;
		font-size: 15pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	body, html{
		width: 100%;
    	height: 100%;
	}

	a {
		color: #4dac71;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #666;
		font-weight: 300;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}


	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* HEADER */

	body.bodyclass #header {
		background-color: transparent;
		left: 0;
		position: absolute;
		top: 0;
		background-color: rgba(25,25,25,0.9);
		color: rgba(228,228,228,1.00);
	}

	#header {
		background-color: #202222;
		color: #ffffff;
		cursor: default;
		height: 4.75em;
		line-height: 4.75em;
		width: 100%;
		z-index: 10000;

	}

		#header h1 {
			font-family: 'Dosis', sans-serif;
			color: #ffffff;
			height: inherit;
			left: 1.50em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;

		}

			#header h1 a {
				font-size: 1.25em;
			}

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 2.75em;
			top: 0;
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					border-radius: 4px;
					display: inline-block;
					margin-left: 1.5em;
					padding-left: 0;
				}

					#header nav > ul > li a {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #cee8d8;
						display: inline-block;
						text-decoration: none;
					}

						#header nav > ul > li a:hover {
							color: #ffffff;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li .button {
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}


/* BANNER */

	body {
    background: url("../img/overlay.png"), url("../img/banner.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
	}

/* FOOTER */

.footer {
	font-family: 'Dosis', sans-serif;
	background-color: rgba(25,25,25,0.9);
	color: rgba(228,228,228,1.00);
	padding: 5px;
	position:absolute;
    width:100%;
    bottom:0;
    text-align: center;
}



