body, html {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #032731;
    background-size: cover;
    color: #d9e0e2;
    overflow: hidden;
}
body{
    margin: 0;
	padding: 0;
}
section {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #000;
	overflow: hidden;
	animation: bgColor 20s linear infinite;
}
.bgPulse {
	width: 100%;
	height: 100%;
}
.bgPulse span {
	position: absolute;
	width: 80px;
	height: 80px;
	background: #fff;
}
.bgPulse span:nth-child(3n+1) {
	background: transparent;
	border: 5px solid #fff;
}
.bgPulse span:nth-child(1) {
	top: 50%;
	left: 20%;
	animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(2) {
	top: 80%;
	left: 40%;
	animation: animate 12s linear infinite;
}
.bgPulse span:nth-child(3) {
	top: 10%;
	left: 65%;
	animation: animate 15s linear infinite;
}
.bgPulse span:nth-child(4) {
	top: 50%;
	left: 70%;
	animation: animate 6s linear infinite;
}
.bgPulse span:nth-child(5) {
	top: 10%;
	left: 30%;
	animation: animate 9s linear infinite;
}
.bgPulse span:nth-child(6) {
	top: 90%;
	left: 95%;
	animation: animate 8s linear infinite;
}
.bgPulse span:nth-child(7) {
	top: 80%;
	left: 5%;
	animation: animate 5s linear infinite;
}
.bgPulse span:nth-child(8) {
	top: 35%;
	left: 50%;
	animation: animate 14s linear infinite;
}
.bgPulse span:nth-child(9) {
	top: 5%;
	left: 5%;
	animation: animate 11s linear infinite;
}
.bgPulse span:nth-child(10) {
	top: 25%;
	left: 90%;
	animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(10) {
	top: 25%;
	left: 90%;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: scale(1) translateY(-100px) rotate(360deg);
		opacity: 0;
	}
}

@keyframes bgColor {
	0% {
		background: #f44336;
	}
	25% {
		background: #03a9f4;
	}
	50% {
		background: #9c27b0;
	}
	75% {
		background: #00ff0a;
	}
	100% {
		background: #f44336;
	}
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #032e3a;
    z-index: 99999;
    height: 100%;
}
/* Navegação */
#menu {
    padding: 20px;
    transition: all 0.8s;

}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    color: #d9e0e2;
    font-weight: 700;
    letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
    color: #f3ca27;
}
#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #d9e0e2;
    font-size: 12px;
    letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
    color: #f3ca27;
}
.on {
    background-color: #032731 !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f3ca27 !important;
    background-color: transparent;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f3ca27;
    border-color: #f3ca27;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
}
/* Estilo "home" // O corpo do site */
.color {
    color: #f3ca27;
}
.btn-default {
    color: #294d57;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1c40f;
    border: 0;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
    background-color: #c1a618;
}
.intro-text {
    position: center;
    padding-top: 60px;
    padding-right: 0;
    padding-left: 0;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.container-login100{
	background-color: transparent;
}
.login100-form-logo {
    font-size: 60px; 
    color: #33333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;                      /*cor do circulo brando*/
    margin: 0 auto;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 18%;
    margin-top: 40%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    background: #032731;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}

@media (max-width: 768px) {
.content {
    padding: 40% 0 0;
}

@media (max-width: 603px) {
#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
label {
    float: none !important
}
.hover-bg .hover-text {
    padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
    padding: 22% 10%;
}
}
